<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/Chart.css">

  <meta name="theme-color" content="#fafafa">
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>

<body style="scroll-behavior: smooth">
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <div class="navbar">
    <img src="./img/logo.png" alt="">

    <h3>Solution for Openhack Stockholm 2019</h3>
  </div>


  <table style="width: 100%">
    <tr>
      <td style="width: 75%">
        <canvas id="canvas"></canvas>
      </td>
      <td style="width: 25%">
        <ul>
          <% terms.each do |term| %>
            <li><%= term %> <a href="#">Ta bort</a>
          <% end %>
        </ul>

        <button>Lägg till sökord</button> 
      </td>
    </tr>
  </table>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  <script src="js/Chart.js"></script>
  <script src="js/utils.js"></script>
  <script>
    var timeFormat = 'MM/DD/YYYY HH:mm';

    function newDate(days) {
      return moment().add(days, 'd').toDate();
    }

    function newDateString(days) {
      return moment().add(days, 'd').format(timeFormat);
    }
  </script>
  <script src="js/config.js"></script>

  <script>

    window.onload = function() {
      var ctx = document.getElementById('canvas').getContext('2d');
      window.myLine = new Chart(ctx, window.config);

    };

    var colorNames = Object.keys(window.chartColors);

    var currentlyDisplayedBlock = null;
    window.displayTweets = function (label, datetime) {
      // if (currentlyDisplayedBlock !== null) {
      //   currentlyDisplayedBlock.style.display = 'none';
      // }
      let blocks = document.getElementsByClassName('tweet-block');
      Array.prototype.forEach.call(blocks, function (block) {
        block.style.display = 'none';
      });

      currentlyDisplayedBlock = document.getElementById("stamp-" + label + "-" + datetime);
      console.log({currentlyDisplayedBlock: currentlyDisplayedBlock})
      currentlyDisplayedBlock.style.display = 'block';

      var tweets = document.querySelectorAll("#stamp-" + label + "-" + datetime + " .tweet");
      Array.prototype.forEach.call(tweets, function (tweet) {
        var id = tweet.getAttribute("tweetId");

        twttr.widgets.createTweet(
          id, tweet,
          {
            conversation : 'none',    // or all
            cards        : 'hidden',  // or visible 
            linkColor    : '#cc0000', // default is blue
            theme        : 'light'    // or dark
          });
        window.location.hash = "#top-of-tweets";

      });
    }

  </script>


  <script src="js/vendor/modernizr-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>


  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
  
  <a name="top-of-tweets"></a>

  <% terms.flat_map do |name| %>
    <%
      path = "#{name}.json.csv"
      name = name.gsub(' ', '-')
      data = CSV.parse(File.read(path))
      grouped_data = data.group_by do |row|
        datetime = DateTime.parse(row[2])
        [
          datetime.strftime("stamp-#{name}-%Y%m%d%H00"),
          name,
          datetime.strftime("%Y-%m-%d %H:00"),
        ]
      end
    %>

    <% grouped_data.each do |(id, name, datetime_string), rows| %>
      <div class="tweet-block" id="<%= id %>" style="display: none">
        <h1><%= name %> - <%= datetime_string %></h1>
        <% rows.each do |id, _, _| %>
          <div class="tweet" id="tweet" tweetId="<%= id %>"></div>
        <% end %>
      </div>
    <% end %>
  <% end %>

</body>

</html>
